<div id="<%= dom_id book %>">
  <p>
    <strong style="font-size: 24px;"><%= book.title %></strong>
  </p>

  <p>
    <strong>著者:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>カテゴリー:</strong>
    <%= book.category %>
  </p>

  <p>
    <strong>冊数:</strong>
    <%= book.total_copies %>
  </p>

</div>
