<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render @book %>

<div>
  <% if @book.loans.exists?(user: current_user) %>
    <%= button_to "返す", return_book_book_path(@book), method: :delete, class: "btn btn-secondary" %>
  <% else %>
    <%= button_to "借りる", borrow_book_path(@book), method: :post, class: "btn btn-primary" %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
