<%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': "reload" %>
<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h2 style="margin-left: 5%">書籍詳細</h2>

<div style="border: 1px solid #ccc; margin: 16px 5%; padding: 16px">
  <%= render @book %>

  <div class="button-group">
    <%= button_to "借りる", borrow_book_path(@book), form: { class: "btn-form" },method: :post, class: "btn btn-borrow", disabled: @book.loans.exists?(user: current_user) %>
    <%= button_to "返す", return_book_book_path(@book), form: { class: "btn-form" }, method: :delete, class: "btn btn-return", disabled: !@book.loans.exists?(user: current_user) %>
  </div>
</div>

<% if current_user.role == "libadmin" %>
  <div>
    <%= link_to "本の編集", edit_book_path(@book) %>
    <%= button_to "この本を削除する", @book, method: :delete %>
  </div>
<% end %>